#playertest{
    display: flex;

    flex-wrap: wrap;
}
#playertest div{
    flex:49%;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
#playertest img{
    margin-top: 10px;
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    background-image: url(../images/playernull.jpeg);
}


#playertest p{
    margin-top:5px;
    font-size:25px;
}